h1 {
	color: black;
	text-align: center;
}
p {
	color: black;
	text-align: center;
}
body {
background-color: ghostwhite;
}
ul {
	list-style-type: none;  /*Remove bullets*/
	background: lightgray;
	width: 200px;
	padding: 0;  /*Removes left padding from list*/
}
li a {
	display: block;  /*Make the link use the whole width*/
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 10px;
}
li a:hover {
	background: grey;
}
