h1 {
	color: black;
	text-align: center;
}
p {
	color: black;
	text-align: center;
}
body {
	background-color: ghostwhite;
	margin: 0;
	background-image: url("https://i.pinimg.com/originals/bc/43/dc/bc43dc9c70eb14a8e426ea66d4093692.jpg");
	background-position: center center;
	background-size: cover;
}
a {
	display: block;  /*Make the link use the whole width*/
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 10px;
	background: lightgrey;
}
a:hover {
	background: grey;
}
