h1 {
	color: ghostwhite;
	text-align: center;
}
p {
	color: ghostwhite;
	text-align: center;
}
body {
background-color: black;
}
ul {
	list-style-type: none;
	background: lightgray;
	width: 200px;
	padding: 0;
}
li a {
	display: block;
	text-align: center;
}
li a:hover {
	background: grey;
}
